/*table {*/
/*    width: 100%;*/
/*    text-align: center;*/
/*}*/
h1 {
	font-size: 3em;
}

.top {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	/*grid-template-columns: 1fr 1fr;*/
	grid-template-rows: 1fr 50px 1fr

}
.question-message {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.3em;
	text-align: left;

}

.search {
	grid-row: 2;
	grid-column: 1;
	text-align: left;
}

.sorting {
	grid-row: 2;
	grid-column: 3;
}


th {
	border: 2px solid #678052;
	text-align: center;
	background-color: rgba(255,255,255,0.2);
}
th.small {
	width: 20px;
}

th.submission {
	width: 130px;
}

td.small {
	width: 20px;

}

th.title {
	width: 350px;
}

td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
    /*word-wrap: break-word;*/
}
.none {
	background-color: transparent;
}

.image {
	width: 200px;
}

.vote {
    text-decoration: none;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	background-image: linear-gradient(to right, #933535, #76a05f);
	font-family: sans-serif;
	font-weight: 100;
	text-align: center;
}

table {
	width: 90%;
	margin: auto;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
	line-break: normal;
}

a:link, a:visited {
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border: 2px solid #a5a5a5;
	border-radius: 15px;
	font-weight: bold;
	color: white;
	background-color: #4b2b2b;
}

a:hover{
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border: 2px solid #a5a5a5;
	border-radius: 15px;
	font-weight: bold;
	background-color: #502720;
}

#X {
	border: none;
	background-color: transparent;
}

button, select{
    box-shadow: 0px 1px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #4b2b2b 5%, #522b2b 100%);
	background-color: #52322c;
	border-radius:15px;
	border:2px solid #333029;
	cursor:pointer;
	color: #ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

button:hover, select:hover{
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #461f1f 5%, #4e2626 100%);
	background-color: #502720;
	border-radius:15px;
	border:2px solid #3a311e;
	cursor:pointer;
	color: #ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
input {
	width: 300px;
	padding: 6px;
     font-size: 14px;
     border-width: 0px;
	 /*border:2px solid #333029;*/
     background-color: #52322c;
     color: #ffffff;
     /*border-style: solid;*/
     border-radius: 50px;
     box-shadow: 0px 0px 0px rgba(66,66,66,.75);
     text-shadow: 0px 0px 5px rgba(66,66,66,.75);
}

input:hover{
	width: 300px;
	padding: 6px;
     font-size: 14px;
     border-width: 0px;
	 /*border:2px solid #333029;*/
     background-color: #4e251e;
     color: #ffffff;
     /*border-style: solid;*/
     border-radius: 50px;
     box-shadow: 0px 0px 0px rgba(66,66,66,.75);
     text-shadow: 0px 0px 5px rgba(66,66,66,.75);
}
#accept {
	background-color: #18663e;
}


#signup {
	position: absolute;
	top: 20px;
	right: 100px;
}

#user_page {
	position: absolute;
	top: 20px;
	left: 300px;

}

#log {
	position: absolute;
	right: 100px;
	top: 80px;
	margin-bottom: 50px;

}
#list_of_users {
	position: absolute;
	top: 20px;
	left: 100px;
}



#users {
	margin-top: 50px;
	margin-bottom: 50px;
}

.user_data {
	font-size: 25px;
	text-align: left;
	margin-left: 100px;
}

#no_border {
	border: none;

}