{% extends 'layout.html' %}


{% block title %}Question page{% endblock %}


{% block body %}

    <h1>{{ question[0]['title'] }}</h1>
    <h3>Tags:</h3>
    {% for tag in question_tags %}
        <strong>{{ tag['name'] }} <a id="X" href="/question/{{ question[0]['id'] }}/tag/{{ tag['tag_id'] }}/delete">X</a></strong>
    {% endfor %}
    <p class="question-message">{{ question[0]['message'] }}</p>
    <br>
    {% if question[0]['image'] != None and question[0]['image'] != '' %}
        <img src='{{ url_for('static', filename='Images/'+ question[0]['image']) }}' width="600">
    {% else %}

    {% endif %}
    {% if question_comments != [] %}
        <h2><strong>Comments:</strong></h2>
        <table>
            <thead>
                <tr>
                    <th>Comment Message</th>
                    <th class="submission" >Submission Time</th>
                    {% if session['username'] and session['username'] == question_name%}
                        <th class="small" >Edited Count</th>
                        <th class="small" >Edit</th>
                        <th class="small" >Delete</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for comment in question_comments %}
                    {% if comment['answer_id'] == None %}
                        <tr>
                            <td>{{ comment['message'] }}</td>
                            <td>{{ comment['submission_time'] }}</td>
                            {% if session['username'] and session['username'] == question_name%}
                                <td>{{ comment['edited_count'] }}</td>
                                <td><a href="/comment/{{ comment['id'] }}/edit">Edit</a></td>
                                <td><a href="/comment/{{ comment['id'] }}/delete">Delete</a></td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <br>
    {% if session['username'] %}
    <a href="/question/{{ question[0]['id'] }}/new-answer">Add New Answer</a><br>
    {% endif %}
    {% if answers != [] %}
        <h2><strong>Answers:</strong></h2>
        <table>
        {% for answer in answers %}
            <thead class="answer">
                <tr>
                    <th class="small" >ID</th>
                    <th class="submission" >Submission time</th>
                    <th class="small" >Votes</th>
                    <th class="small" >Vote Up</th>
                    <th class="small" >Vote Down</th>
                    <th>Answer</th>
                    <th>Image</th>
                    {% if session['username'] and session['username'] == question_name%}
                        <th class="small" >Update Answer</th>
                        <th class="small" >Delete Answer</th>
                        <th class="small" >Add Comments</th>
                        <th class="small" >Accept answer</th>
                        <th class="small" >Remove acceptation</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% if answer['accepted']%}
                <tr>
                    <td  id="accept">{{ answer['id'] }}</td>
                    <td id="accept">{{ answer['submission_time'] }}</td>
                    <td id="accept">{{ answer['vote_number'] }}</td>
                    <td id="accept"><a class='vote' href="/answer/{{ answer['id'] }}/vote_up">+</a></td>
                    <td id="accept"><a class='vote' href="/answer/{{ answer['id'] }}/vote_down">-</a></td>
                    <td id="accept">{{ answer['message'] }}</td>
                    {% if answer['image'] != None and answer['image'] != '' %}
                        <td  id="accept" class="image"><img src='{{ url_for('static', filename='Images/'+ answer['image']) }}' width="200"></td>
                    {% else %}
                        <td  id="accept"></td>
                    {% endif %}
                    {% if session['username'] and session['username'] == question_name%}
                        <td  id="accept" class="small"><a href="/answer/{{ answer['id'] }}/edit">Edit</a> </td>
                        <td  id="accept" class="small"><a href="/answer/{{ answer['id'] }}/delete">Delete</a></td>
                        <td  id="accept" class="small"><a href="/answer/{{ answer['id'] }}/new-comment">Add</a></td>
                        <td  id="accept" class="small"><a name="accept_answer" methods="post" href="/answer/{{ answer['id'] }}/accept">Accept answer</a></td>
                        <td  id="accept" class="small"><a name="remove_acceptation" methods="post" href="/answer/{{ answer['id'] }}/remove">Remove acceptation</a></td>
                    {% endif %}
                </tr><br>
                <tr>
                {% else %}
                <tr>
                    <td>{{ answer['id'] }}</td>
                    <td>{{ answer['submission_time'] }}</td>
                    <td>{{ answer['vote_number'] }}</td>
                    <td><a class='vote' href="/answer/{{ answer['id'] }}/vote_up">+</a></td>
                    <td><a class='vote' href="/answer/{{ answer['id'] }}/vote_down">-</a></td>
                    <td>{{ answer['message'] }}</td>
                    {% if answer['image'] != None and answer['image'] != '' %}
                        <td class="image"><img src='{{ url_for('static', filename='Images/'+ answer['image']) }}' width="200"></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    {% if session['username'] and session['username'] == question_name%}
                        <td class="small"><a href="/answer/{{ answer['id'] }}/edit">Edit</a> </td>
                        <td class="small"><a href="/answer/{{ answer['id'] }}/delete">Delete</a></td>
                        <td class="small"><a href="/answer/{{ answer['id'] }}/new-comment">Add</a></td>
                        <td class="small"><a name="accept_answer" methods="post"  href="/answer/{{ answer['id'] }}/accept">Accept answer</a></td>
                        <td class="small"><a name="remove_acceptation" methods="post"  href="/answer/{{ answer['id'] }}/remove">Remove acceptation</a></td>
                    {% endif %}
                </tr><br>
                <tr>
                {% endif %}
                {% for comment in answer_comments %}
                    {% if comment['answer_id'] == answer['id'] %}
                        <tr>
                            <th id="no_border"></th>
                            <th class="submission" >Submission Time</th>
                            <th id="no_border"></th>
                            <th id="no_border"></th>
                            <th id="no_border"></th>
                            <th>Comment</th>
                            <th id="no_border"></th>
                            {% if session['username'] and session['username'] == question_name%}
                                <th class="small">Edited Count</th>
                                <th class="small">Edit</th>
                                <th class="small">Delete</th>
                                <th id="no_border"></th>
                                <th id="no_border"></th>
                            {% endif %}
                        </tr>
                        <tr>
                            <td></td>
                            <td>{{ comment['submission_time'] }}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>{{ comment['message'] }} </td>
                            <td></td>
                            {% if session['username'] and session['username'] == question_name %}
                                <td>{{ comment['edited_count'] }}</td>
                                <td><a href="/comment/{{ comment['id'] }}/edit">Edit</a></td>
                                <td><a href="/comment/{{ comment['id'] }}/delete">Delete</a></td>
                                <td></td>
                                <td></td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
                </tr>
                <tr><td class="none"></td></tr>
                <tr><td class="none"></td></tr>
                {% endfor %}
            </tbody>
         </table>
    {% endif %}
    <br>
    <br>
    {% if session['username'] %}
    <a href="/question/{{ question[0]['id'] }}/edit">Edit Question</a>
    <a href="/question/{{ question[0]['id'] }}/new-comment">Add New Comment</a>
    <a href="/question/{{ question[0]['id'] }}/delete">Delete Question</a>
    <a href="/question/{{ question[0]['id'] }}/new-tag">Add New Tag</a>
    {% endif %}
    <a href="/tags">See tags</a>
    <br>
    <br>
    <a href="/list">Back to all questions</a>
    <br>
    <br>
{% endblock %}