{% extends 'layout.html' %}

{% block title %}{{ 'Latest questions' if latest_questions else 'Index'}}{% endblock %}

{% block body %}
    <h1>{{ 'Latest Questions'if latest_questions else 'All Questions' }}</h1>
        <a id="signup" href="/registration">Sign Up</a>
        {% if session['username'] %}
            <a id="log" href="/logout">Log out</a>
            <a id="user_page" href="/user/{{ user_id }}">User Page</a>
        {% else %}
            <a id="log" href="/login">Login</a>
        {% endif %}

    <div class="top">
        <br>
            <form class="search" action="/search" method="get" enctype="multipart/form-data">
                <input type="text" name="search_phrase" id="search_box" width="500px" required>
                <button type="submit" name="submit" id="submit">Search</button>
            </form>
        <br>

        {% if not latest_questions %}
            <form class="sorting" action='/list' method="get" enctype="multipart/form-data">
                <select name="sorting" id="sorting" required>
                    {% for type in sort_types %}
                        <option value="{{ type }}" {{ "selected" if sorting == type }}>{{ type }}</option>
                    {% endfor %}
                </select>
               <select name="sorting_direction" id="sorting_direction" required>
                    {% for direction in directions %}
                        <option value="{{ direction }}" {{ "selected" if sorting_direction == direction }}>{{ direction }}</option>
                    {% endfor %}
               </select>
               <button type="submit" name="submit" id="submit">Sort!</button>
            </form>
        {% endif %}
        <br>
    </div>
    <table>
        <thead>
            <tr>
                <th class="small" >ID</th>
                <th class="submission" >Submission time</th>
                <th class="small" >View number</th>
                <th class="small" >Votes</th>
                <th class="small" >Vote Up</th>
                <th class="small" >Vote Down</th>
                <th class="title" >Title</th>
                <th>Message</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
                <tr>
                    <td>{{ question['id'] }}</td>
                    <td>{{ question['submission_time'] }}</td>
                    <td>{{ question['view_number'] }}</td>
                    <td>{{ question['vote_number'] }}</td>
                    <td><a class='vote' href="/question/{{ question['id'] }}/vote_up">+</a></td>
                    <td><a class='vote' href="/question/{{ question['id'] }}/vote_down">-</a></td>
                    <td><a href="/question/{{ question['id'] }}">{{ question['title'] }}</a></td>
                    <td>{{ question['message'] }}</td>
                    {%  if question['image'] != None and question['image'] != '' %}
                        <td><img src='{{ url_for('static', filename='Images/'+ question['image']) }}' width="200"></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
                <tr><td class="none"></td></tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    {% if latest_questions %}
        <a class="top-button" href="/list">List All Questions</a>
    {% else %}
        {% if session['username'] %}
        <a class="top-button" href="/question">Add question</a>
        <a id="list_of_users" class="top-button" href="/users">List of Users</a>
        <a href="/tags">See tags</a>
        {% endif %}
    {% endif %}
    <br>
    <br>

{% endblock %}