{% extends 'layout.html' %}

{% block title %}Index{% endblock %}

{% block body %}
    <h1>All questions</h1>
    <table>
        <thead>
            <tr>
                <form action='/' method="get" enctype="multipart/form-data">
                    <label for="sorting">Sort by:</label>
                    <select name="sorting" id="sorting" required>
                        {% for type in sort_types %}
                            <option value="{{ type }}" {{ "selected" if sorting == type }}>{{ type }}</option>
                        {% endfor %}
                    </select>
                   <select name="sorting_direction" id="sorting_direction" required>
                        {% for direction in directions %}
                            <option value="{{ direction }}" {{ "selected" if sorting_direction == direction }}>{{ direction }}</option>
                        {% endfor %}
                   </select>
                   <button type="submit" name="submit" id="submit">Sort!</button>
                </form>
               </tr>
            <br>
            <br>
            <tr>
                <td>ID</td>
                <td>Submission time</td>
                <td>View number</td>
                <td>Votes</td>
                <td>Title</td>
                <td>Vote Up</td>
                <td>Vote Down</td>
                <td>Message</td>
                <td>Image</td>
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
                {% set outer_loop = loop %}
                <tr>
                    {% for data in question %}
                        {% if loop.index == 2 %}
                            <td>{{ dates[outer_loop.index - 1] }}</td>
                        {% elif loop.index == 5 %}
                            <td><a href="/question/{{ question[0] }}">{{ data }}</a></td>
                                <td><a class='vote' href="/question/{{ question[0] }}/vote_up">+</a></td>
                                <td><a class='vote' href="/question/{{ question[0] }}/vote_down">-</a></td>
                        {% elif loop.index == 7 %}
                            <td><img src='{{ url_for('static', filename='Images/'+ data) }}' width="50"></td>
                        {% else %}
                            <td>{{ data }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="/question">Add question</a>
{% endblock %}