{% extends 'layout.html' %}

{% block title %}Index{% endblock %}

{% block body %}
    <h1>All questions</h1>
    <table>
        <thead>
            <tr>
                <form action='/' method="get" enctype="multipart/form-data">
                    <label for="sorting">Sort by:</label>
                    <select name="sorting" id="sorting" required>
                        <option {% if sorting == '' %}selected{% endif %}></option>
                        <option value="title" {% if sorting == 'title' %}selected{% endif %}>Title</option>
                        <option value="sub_time" {% if sorting == 'sub_time' %}selected{% endif %}>Submission time</option>
                        <option value="message" {% if sorting == 'message' %}selected{% endif %}>Message</option>
                        <option value="num_view" {% if sorting == 'num_view' %}selected{% endif %}>Number of views</option>
                        <option value="num_vote" {% if sorting == 'num_vote' %}selected{% endif %}>Number of votes</option>
                   </select>
                   <select name="sorting_direction" id="sorting_direction" required>
                        <option {% if sorting_direction == '' %}selected{% endif %}></option>
                        <option value="asc" {% if sorting_direction == 'asc' %}selected{% endif %}>Ascending</option>
                        <option value="desc" {% if sorting_direction == 'desc' %}selected{% endif %}>Descending</option>
                   </select>
                   <button type="submit" name="submit" id="submit">Sort!</button>
                </form>
               </tr>
            <br>
            <br>
            <tr>
                <td>ID</td>
                <td>Submission time</td>
                <td>View number</td>
                <td>Votes</td>
                <td>Title</td>
                <td>Vote Up</td>
                <td>Vote Down</td>
                <td>Message</td>
                <td>Image</td>
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
                {% set outer_loop = loop %}
                <tr>
                    {% for data in question %}
                        {% if loop.index == 2 %}
                            <td>{{ dates[outer_loop.index - 1] }}</td>
                        {% elif loop.index == 5 %}
                            <td><a href="/question/{{ question[0] }}">{{ data }}</a></td>
                                <td><a class='vote' href="/question/{{ question[0] }}/vote_up">+</a></td>
                                <td><a class='vote' href="/question/{{ question[0] }}/vote_down">-</a></td>
                        {% else %}
                            <td>{{ data }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="/question">Add question</a>
{% endblock %}