{% extends 'layout.html' %}

{% block title %}Login{% endblock %}

{% block body %}
    <form action="" method="post" enctype="multipart/form-data">
        <label for="text">Username: </label>
        <input type="text" id="text" name="username">
        <br>
        <label for="text">Password: </label>
        <input type="password" id="text" name="password">
        <br>
        <button type="submit">Login</button>
    </form>

    {% if error_message %}
        <p>Wrong password!</p>
    {% endif %}
{% endblock %}