{% extends 'layout.html' %}


{% block title %}Add answer{% endblock %}

{% block body %}
        <h1>Add Answer</h1>
        <form action="" method="post" enctype="multipart/form-data">
            <label for="message-input">Message:</label><br>
            <textarea id="message-input" name="message" rows="4" cols="60"></textarea>
            <br>
            <label for="image">Select image:</label>
            <input type="file" id="img" name="image" accept="image/*">
            <br>
            <br>
            <button type="submit">Post Answer</button>
        </form>
{% endblock %}