{% extends 'layout.html' %}


{% block title %}{{ 'Update question' if question else 'Add New Question' }}{% endblock %}

{% block body %}

    <h1>{{ 'Update Question' if question else 'Add New Question' }}</h1>

    <form action="" method="post" enctype="multipart/form-data">

        <strong><label for="question-input">Question:</label></strong><br><br>
        <textarea id="question-input" name="title" rows="4" cols="60">{{ question[0]['title'] if question }}</textarea>
        <br>
        <br>
        <strong><label for="message-input">Message:</label></strong><br><br>
        <textarea id="message-input" name="message" rows="4" cols="60">{{ question[0]['message'] if question }}</textarea>
        <br>
        <br>
        <strong><label for="img">Select image:  </label></strong>
        <input type="file" id="img" name="image" accept="image/*">
        <br>
        <br>
        <button type="submit">{{ 'Update Question' if question else 'Post question'}}</button>



    </form>
{% endblock %}