{% extends 'layout.html' %}

{% block title %}Search results{% endblock %}

{% block body %}
    <h1>Search results</h1>
    {% if no_results == True %}
        <p>No results</p>
    {% else %}
        <table>
            <tbody>
                <tr>
                    {% for question in questions %}
                        {% if question['id'] in searched_ids %}
                            <tr>
                                <td>Question</td>
                                <td>Submission time</td>
                                <td>Title</td>
                                <td>Message</td>
                                <td>Image</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>{{ question['submission_time'] }}</td>
                                <td><a href="/question/{{ question['id'] }}">{{ question['title'] }}</a></td>
                                <td>{{ question['message'] }}</td>
                                {%  if question['image'] != None and question['image'] != '' %}
                                    <td><img src='{{ url_for('static', filename='Images/'+ question['image']) }}' width="200"></td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            </tr>
                            <br>
                            {% for answer in answers %}
                                {% if answer['question_id'] == question['id'] %}
                                    {% if answer['id'] in answer_ids %}
                                        <tr>
                                            <td>Answer</td>
                                            <th>Submission time</th>
                                            <th>Question title</th>
                                            <th>Answer</th>
                                            <th>Image</th>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>{{ answer['submission_time'] }}</td>
                                            <td><a href="/question/{{ question['id'] }}">{{ question['title'] }}</a></td>
                                            <td>{{ answer['message'] }}</td>
                                            {% if answer['image'] != None and answer['image'] != '' %}
                                                <td><img src='{{ url_for('static', filename='Images/'+ answer['image']) }}' width="200"></td>
                                            {% else %}
                                                <td></td>
                                            {% endif %}
                                        </tr>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    {% endif %}
    <a href="/">Back to all questions</a>
{% endblock %}
