{% extends 'layout.html' %}

{% block title %}User Page{% endblock %}

{% block body %}
    <h1>User page</h1>
    <ul>
        <li>User id: {{ user['id'] }}</li>
        <li>User name: {{ user['name'] }}</li>
        <li>Registration date: {{ user['reg_date'] }}</li>
        <li>Count of asked questions: {{ user['question_count'] }}</li>
        <li>Count of answers: {{ user['answer_count'] }}</li>
        <li>Count of comments: {{ user['comment_count'] }}</li>
        <li>Reputation: {{ user['reputation'] }}</li>
    </ul>
    <br>
    <h2>Questions:</h2>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Submission Time</th>
                <th>Message</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
                <tr>
                    <td><a href="/question/{{ question['id'] }}">{{ question['title'] }}</a></td>
                    <td>{{ question['submission_time'] }}</td>
                    <td>{{ question['message'] }}</td>
                    {%  if question['image'] != None and question['image'] != '' %}
                        <td><img src='{{ url_for('static', filename='Images/'+ question['image']) }}' width="200"></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Answers:</h2>
    <table>
        <thead>
            <tr>
                <th>Question Title</th>
                <th>Message</th>
                <th>Image</th>
                <th>Submission Time</th>
            </tr>
        </thead>
        <tbody>
            {% for answer in answers %}
                <tr>
                    {% for question in questions %}
                        {% if question['id'] == answer['question_id'] %}
                            <td><a href="/question/{{ question['id'] }}">{{ question['title'] }}</a></td>
                        {% endif %}
                    {% endfor %}
                    <td>{{ answer['message'] }}</td>
                    {%  if answer['image'] != None and answer['image'] != '' %}
                        <td><img src='{{ url_for('static', filename='Images/'+ answer['image']) }}' width="200"></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>{{ answer['submission_time'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Comments:</h2>
    <table>
        <thead>
            <tr>
                <th>Question Title</th>
                <th>Message</th>
                <th>Submission Time</th>
            </tr>
        </thead>
        <tbody>
            {% for comment in comments %}
                <tr>
                    {% for question in questions %}
                        {% if question['id'] == comment['question_id'] %}
                            <td><a href="/question/{{ question['id'] }}">{{ question['title'] }}</a></td>
                        {% endif %}
                    {% endfor %}
                    <td>{{ comment['message'] }}</td>
                    <td>{{ comment['submission_time'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/list">Back to all questions</a>
{% endblock %}